{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Dento - Dentist &amp; Medical HTML Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Dento - Dentist &amp; Medical HTML Template</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/joelogo.png' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Thachil Kalavoor Alappuzha Kerala"><i class="fa fa-map-marker"></i> <span>Thachil Kalavoor Alappuzha Kerala</span></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="jobinft1995@gmail.com"><i class="fa fa-envelope"></i> <span>jobinft1995@gmail.com</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              <a href="https://facebook.com/profile.php?id=100004599969112" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/JobinFrancisTh2" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              
              <a href="https://linkedin.com/in/jobin-francis-thomas-5883ab16a" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/joelogo.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Home</a></li>
                  
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'service' %}">Services</a></li>
                  
                  <li><a href="{% url 'blog' %}">Blog</a>
                    
                  </li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Contact Now Button -->
            <a href="{% url 'contact' %}" class="btn dento-btn booking-btn">Contact Now</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/cool.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- *****Blog Area Start ***** -->
  <section class="dento-blog-area mt-50">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8">

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="./blog-details.html">
                <img src="{% static 'website/img/bg-img/social.png' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.webfx.com/blog/web-design/d2c-website-examples/" class="post-title">D2C Website Examples: 6 Examples of Direct to Consumer Brands</a>
              <p>If you’re thinking about switching to direct to consumer (D2C) marketing, you’re probably wondering how to do D2C marketing effectively. D2C marketing involves selling directly to consumers, rather than using a third-party to sell your products, which helps your company reap more profit ...</p>
              <div class="post-meta">
                
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="./blog-details.html">
                <img src="{% static 'website/img/bg-img/search.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.webfx.com/blog/web-design/top-conversion-rate-optimization-mistakes/" class="post-title">Top Conversion Rate Optimization Mistakes | CRO Best Practices</a>
              <p>It means that you don’t have any indication to the user when they first land on the page and before they scroll down, what they should be doing when they finish that page.</p>

              <p>So you want to put a button, a form fill, or something up above the fold right as the user’s landing on the page to set an expectation that, “Hey, once you’re convinced by everything here, here’s how you’re going to take action. This is what you’re going to do next.” ...</p>
              <div class="post-meta">
                
              </div>
            </div>
          </div>

          <!-- Single Blog Item -->
          <div class="single-blog-item style-2 d-flex flex-wrap align-items-center mb-50">
            <!-- Blog Thumbnail -->
            <div class="blog-thumbnail">
              <a href="./blog-details.html">
                <img src="{% static 'website/img/bg-img/uxdesign.jpg' %}" alt="">
              </a>
            </div>
            <!-- Blog Content -->
            <div class="blog-content">
              <a href="https://www.webfx.com/blog/web-design/what-is-user-experience-ux-testing/" class="post-title">What Is User Experience (UX) Testing? [+4 UX Best Practices]</a>
              <p>Do you want to provide a great experience for visitors on your site?</p>
              <p>If so, user experience (UX) testing can help you analyze your site to ensure you’re providing a great experience for your audience.</p>
              <p>But what is user experience testing? ...</p>
              <div class="post-meta">
                
              </div>
            </div>
          </div>

          

          <!-- Pagination -->
          <nav class="dento-pagination mb-100">
            <ul class="pagination">
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div>

        <!-- Dento Sidebar Area -->
        <div class="col-12 col-lg-4">
          <div class="dento-sidebar">

            <!-- Single Widget Area -->
            <div class="single-widget-area search-widget">
              
            </div>

            

            <!-- Single Widget Area -->
            <div class="single-widget-area news-widget">
              <h5 class="widget-title">Recent News</h5>

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg-img/social.png' %}" alt="">
                </div>
                <div class="blog-content">
                  <a href="#" class="post-title">D2C Website Examples: 6 Examples of Direct to Consumer Brands</a>
                  <span class="post-date">28 Sep 2018</span>
                </div>
              </div>

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg-img/search.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a href="#" class="post-title">Top Conversion Rate Optimization Mistakes | CRO Best Practices</a>
                  <span class="post-date">28 Sep 2018</span>
                </div>
              </div>

              <!-- Single News Area -->
              <div class="single-news-area d-flex align-items-center">
                <div class="blog-thumbnail">
                  <img src="{% static 'website/img/bg-img/uxdesign.jpg' %}" alt="">
                </div>
                <div class="blog-content">
                  <a href="#" class="post-title">What Is User Experience (UX) Testing? [+4 UX Best Practices]</a>
                  <span class="post-date">28 Sep 2018</span>
                </div>
              </div>
            </div>

            <!-- Single Widget Area -->
            <div class="single-widget-area adds-widget">
              <a href="#"><img class="w-100" src="./img/bg-img/adds.png" alt=""></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- *****Blog Area End ***** -->

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/cool.jpg' %});">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="{% url 'home' %}" class="d-block mb-4"><img src="{% static 'website/img/core-img/joelogo.png' %}" alt=""></a>
            <p>Web Designing.</p>
            <div class="footer-contact">
              <p><i class="icon_pin"></i> Thachil Kalavoor Alappuzha Kerala</p>
              <p><i class="icon_phone"></i> +91 7012 631 967</p>
              <p><i class="icon_mail"></i> jobinft1995@gmail.com</p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Opening Hours</h5>

            <!-- Opening Hours -->
            <ul class="opening-hours">
              <li><span>Mon-Wed</span> <span>8.00-18.00</span></li>
              <li><span>Thu-Fri</span> <span>8.00-17.00</span></li>
              <li><span>Sat</span> <span>9.00-17.00</span></li>
              <li><span>Sun</span> <span>10.00-17.00</span></li>
              <li><span>Holiday</span> <span>Closed</span></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Quick Link</h5>

            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'service' %}">Services</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Social</h5>

            
            

            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="https://facebook.com/profile.php?id=100004599969112" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/JobinFrancisTh2" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              
              <a href="https://linkedin.com/in/jobin-francis-thomas-5883ab16a" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>